.breadcrumbs {
  margin-top: 16px;
  margin-bottom: 46px;

  +* {
    margin-top: 46px;
  }

  &:has(+.article--alt),
  &:has(+.contacts) {
    margin-bottom: 44px;
  }

  &:has(+.services) {
    margin-bottom: 55px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item {
    &:last-child {
      .breadcrumbs__link {
        color: #1c1c1c;
        pointer-events: none;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8a8a8a;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .breadcrumbs {
    &__link {
      font-size: 10px;
    }

    &:has(+.privacy) {}
  }
}