@font-face {
  font-family: "Onest";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Onest-Light.woff") format("woff"),
    url("../fonts/Onest-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pais Alt";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PaisAlt-Regular.woff") format("woff"),
    url("../fonts/PaisAlt-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pais Alt";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/PaisAlt-Medium.woff") format("woff"),
    url("../fonts/PaisAlt-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pais Alt";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/PaisAlt-SemiBold.woff") format("woff"),
    url("../fonts/PaisAlt-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PF DIN Text Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PFDinTextPro-Regular.woff") format("woff"),
    url("../fonts/PFDinTextPro-Regular.woff2") format("woff2");
  font-display: swap;
}