.footer {
  background-color: #fff;
  padding-top: 70px;
  @include fluid(padding-bottom, 48px, 58px);

  &__inner {
    display: flex;
    @include fluid(column-gap, 43px, 81px);
    margin-bottom: 26px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 33px;

    &:first-child {
      max-width: 88px;
    }

    &:nth-child(3) {
      .footer__item-box:last-of-type {
        margin-top: -6px;
      }
    }

    &--hidden {
      display: none;
    }

    &-title {
      font-size: 14px;
      letter-spacing: -0.14px;
      text-transform: uppercase;
    }

    &-box {
      display: flex;
      flex-direction: column;
      gap: 11px;
    }

    &-link,
    &-text {
      color: #000;
      font-size: 11px;
    }

    &-link {
      max-width: 170px;
    }

    &-text {
      max-width: 180px;
    }
  }

  &__form {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;

    &-title {
      font-size: 12px;
      letter-spacing: -0.14px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    &-fieldset {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
    }

    &-label {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      width: 100%;
      gap: 1px;
    }

    &-input {
      border-bottom: 1px solid #D3D3D3;
      width: 100%;
      padding-bottom: 11px;

      &::-webkit-input-placeholder {
        color: #1C1C1C;
        font-size: 12px;
      }

      &::-moz-placeholder {
        color: #1C1C1C;
        font-size: 12px;
      }

      &:-ms-input-placeholder {
        color: #1C1C1C;
        font-size: 12px;
      }

      &::-ms-input-placeholder {
        color: #1C1C1C;
        font-size: 12px;
      }

      &::placeholder {
        color: #1C1C1C;
        font-size: 12px;
      }
    }

    &-error {
      font-size: 10px;
      letter-spacing: -0.1px;
      color: #FF1D1D;
      margin-top: 2px;

      &--hidden {
        display: none;
      }
    }

    &-btn {
      font-size: 14px;
      letter-spacing: -0.14px;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__bottom {
    display: flex;
    align-items: end;
    gap: 90px;

    &-text,
    &-link {
      color: #8A8A8A;
      font-size: 11px;
    }

    &-text {
      max-width: 450px;
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    padding-bottom: 40px;

    &__inner {
      flex-wrap: wrap;
      row-gap: 60px;
      margin-bottom: 53px;
    }

    &__item {
      &:nth-child(3) {
        order: -1;
      }

      &:nth-child(3) {
        .footer__item-box:last-of-type {
          margin-top: 0;
        }
      }
    }

    &__form {
      margin-left: unset;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 40px;

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      margin-bottom: 40px;
    }

    &__item {
      &--hidden {
        display: flex;
      }

      &:nth-child(3) {
        order: unset;
      }

      &-title,
      &-box {
        &--hidden {
          display: none;
        }
      }
    }

    &__form {
      grid-area: 3/1/4/3;
    }

    &__bottom {
      flex-direction: column;
      gap: 12px;
      align-items: start;
    }
  }
}

@media (max-width: 479px) {
  .footer {

    &__inner {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      &:first-child {
        max-width: unset;
      }

      &--hidden {
        display: none;
      }

      &:nth-child(1) {
        .footer__item-box {
          grid-column: 1/3;
        }
      }

      &:nth-child(3) {
        order: -2;

        .footer__item-box {
          grid-template-columns: 1fr;

          &:first-child {
            grid-column: 1/2;
          }

          &:last-child {
            grid-column: 2/3;
          }
        }

        .footer__item-title {
          grid-column: 1/3;
        }
      }

      &:nth-child(2) {
        order: -1;
        justify-content: space-between;

        .footer__item-title {

          &:first-child {
            grid-area: 1/2/2/3;
          }

          &--hidden {
            grid-area: 1/1/1/1;
          }
        }

        .footer__item-box {
          grid-template-columns: 1fr;

          &:nth-child(2) {
            grid-area: 2/2/3/3;
          }
        }
      }

      &-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &-title,
      &-box {
        &--hidden {
          display: block;
        }
      }

      &-title,
      &-link,
      &-text {
        font-size: 10px;
      }

      &-link {
        order: 1;
        white-space: unset;

        &:nth-child(2) {
          order: 3;
        }

        &:nth-child(3) {
          order: 5;
        }

        &:nth-child(4) {
          order: 7;
        }

        &:nth-child(5) {
          order: 6;
        }

        &:nth-child(6) {
          order: 2;
        }

        &:nth-child(7) {
          order: 4;
        }
      }
    }

    &__form {
      grid-area: unset;

      .label,
      &-title,
      &-label,
      &-text {
        font-size: 10px;
      }
    }

    &__bottom {

      &-link,
      &-text {
        font-size: 10px;
      }
    }
  }
}