.why {
  margin-top: 61px;
  @include fluid(margin-bottom, 64px, 71px);

  &__title {
    margin-bottom: 63px;
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include fluid(column-gap, 20px, 40px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include fluid(padding-top, 20px, 24px);
    @include fluid(padding-bottom, 38px, 33px);
    border-top: 1px solid #1C1C1C;

    &:first-child {
      .why__item-text {
        padding-left: 40px;
      }
    }

    &:nth-last-child(2),
    &:last-child {
      border-bottom: 1px solid #1C1C1C;
    }

    &:nth-child(2),
    &:nth-child(4),
    &:last-child {
      .why__item-text {
        max-width: 420px;
      }
    }

    &:nth-child(3) {
      @include fluid(padding-bottom, 38px, 31px);

      .why__item-text {
        margin-top: 20px;
        max-width: 509px;
      }
    }

    &:nth-child(4) {
      padding-top: 20px;
      @include fluid(padding-bottom, 38px, 31px);

      .why__item-text {
        margin-top: 23px;
      }
    }

    &:nth-child(5) {
      padding-top: 28px;
    }

    &:last-child {
      padding-top: 24px;

      .why__item-text {
        margin-top: 26px;
      }
    }

    &-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.1;

      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
      }
    }

    &-text {
      color: #8A8A8A;
      line-height: 1.1;
      padding-left: 45px;
      @include fluid(margin-top, 28px, 24px);
      line-height: 1.1;
    }
  }
}

@media (max-width: 1023px) {
  .why {
    &__item {
      padding-top: 16px;
      padding-bottom: 24px;

      &:nth-child(3) {
        padding-top: 16px;
        padding-bottom: 24px;

        .why__item-text {
          margin-top: 24px;
        }
      }

      &:nth-child(4) {
        padding-top: 16px;
        padding-bottom: 24px;

        .why__item-text {
          margin-top: 24px;
        }
      }

      &:nth-child(5) {
        padding-top: 16px;
      }

      &:last-child {
        padding-top: 16px;

        .why__item-text {
          margin-top: 24px;
        }
      }

      &-text {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .why {
    margin-top: 40px;
    margin-bottom: 40px;

    &__inner {
      grid-template-columns: 1fr;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__item {
      &:nth-last-child(2) {
        border-bottom: unset;
      }

      &-title {
        font-size: 14px;

        span {
          font-size: 14px;
        }
      }

      &-text {
        padding-left: 38px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 479px) {
  .why {
    &__item {
      &-title {
        position: relative;
        font-size: 12px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 9px;
          height: 1px;
          background-color: #1c1c1c;
          transition: transform 0.38s ease-in-out;
          border-radius: 25px;
          pointer-events: none;
        }

        &::before {
          right: 7px;
          transform: rotate(45deg);
        }

        &::after {
          right: 0;
          transform: rotate(-45deg);
        }

        span {
          font-size: 12px;
        }
      }

      &-text {
        display: none;
        padding-left: 30px;
        font-size: 10px;
      }
    }
  }
}